@import 'vars';

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url(image/backtop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        margin-top: 64px;
        margin-bottom: 16px;
        color: #FFFFFF;
        width: 792px;
    }
    
    &__title_catalog {
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        text-align: left;
        margin-top: 127px;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $color-text;
        margin-bottom: 16px;
    }

}


.header {
    height: 76px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    &__input {
        width: 288px;
        height: 41px;
        border: 1px solid $color-text;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-size: 16px;
        line-height: 20px;
        color: $color-text;
        padding-left: 32px;
        padding-right: 32px;
        font-family: inherit;
    }

    &__input::-moz-placeholder {
        color: $color-text;
        font-family: inherit;
    }

    &__input::placeholder {
        color: $color-text;
        font-family: inherit;
    }

}

.menu__link {
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
}

.menu__ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.link-catalog {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    text-decoration-style: solid;
    color: $color-text;
    text-decoration: underline;
}

.heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
}

.for {
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);

    &-box {
        padding-top: 64px;
    }

    &__item {
        height: 415px;
        grid-column: span 4;
        color: rgb(255, 255, 255);
        font-size: 34px;
        font-weight: 600;
        line-height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item_big {
        grid-column: span 6;
    }

    &__item_1 {
        background-image: url(image/rest.jpeg);
    }

    &__item_2 {
        background-image: url(image/works.jpeg);
    }

    &__item_3 {
        background-image: url(image/kitchens.jpeg);
    }

    &__item_4 {
        background-image: url(image/children.jpeg);
    }

    &__item_5 {
        background-image: url(image/bathroom.jpeg);
    }
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;

    &-box {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    &-content {
        margin-top: 36px;
        margin-bottom: 39px;
        -moz-column-gap: 32px;
        column-gap: 32px;
        row-gap: 56px;
        display: flex;
        flex-wrap: wrap;
    }

    &__name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 9px;
        margin-top: 10px;
    }

    &__text {
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }

    &__box-price {
        display: flex;
        gap: 32px;
    }

    &__price {
        color: rgb(5, 5, 5);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
    }

    &__price_sale {
        text-decoration-line: line-through;
        color: #888888;
    }
}

.link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-line: underline;
}

.footer {
    padding-top: 32px;
    padding-bottom: 40px;
    background-color: rgb(247, 246, 246);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__content {
        width: 789px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        gap: 129px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        text-decoration: none;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__text {
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }

    &__email {
        font-family: inherit;
        background: $color-text;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 20px;
        width: 260px;
        height: 40px;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
    }

    &__email::-moz-placeholder {
        font-family: inherit;
        font-weight: 400px;
        font-size: 12px;
        line-height: 15px;
        color: rgb(196, 196, 196);
    }

    &__email::placeholder {
        font-family: inherit;
        font-weight: 400px;
        font-size: 12px;
        line-height: 15px;
        color: rgb(196, 196, 196);
    }

    &__button {
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid $color-text;
        box-sizing: border-box;
        border-radius: 16px;
        width: 260px;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        font-family: Montserrat;
    }
}

@import "cart";